@tailwind base;
@tailwind components;
@tailwind utilities;

[contenteditable=true]:empty:before {
  content: attr(data-placeholder);
  color: #9ca3af;
  cursor: text;
}

[contenteditable=true]:focus {
  outline: none;
}

[contenteditable=true] {
  white-space: nowrap;
  overflow: hidden;
}

[contenteditable=true] br {
  display: none;
}

[contenteditable=true] * {
  display: inline;
  white-space: nowrap;
}
